body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0F2F42;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav {
    display: flex;
    align-items: center;
}

.header nav a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s, border 0.3s;
}

.header nav a:hover {
    background-color: #1C5350; /* Adjust as needed for a hover effect */
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.logo {
    margin-right: auto; /* Mueve el logo hacia la izquierda */
}

.container {
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #1C5350;
}

.btn-primary {
    background-color: #1C5350;
    border-color: #1C5350;
}

.btn-primary:hover {
    background-color: #1C4544;
    border-color: #1C4544;
}

.list-group-item.active {
    background-color: #1C5350;
    border-color: #1C5350;
}

.list-group-item-action:hover {
    background-color: #21531c;
}

.btn-red {
    background-color: rgb(140, 255, 0);
    color: white;
}

.btn-red:hover {
    background-color: rgb(212, 67, 67);
    color: white;
}

.header .user-icon a {
    display: inline-block;
    padding: 10px;
}

.list-group-item i {
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .btn {
    background-color: #0F2F42;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    padding: 10px 0;
    border-radius: 5px;
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown .dropdown-menu a:hover {
    background-color: #f1f1f1;
}
